* {
    box-sizing: border-box;
    font-family: inherit;
}

/* Set the base font for the entire document */
body {
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    background-color: #171717;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo svg {
    width: 100px;
    color: rgb(152, 152, 152);
}

.header-logo:hover svg{
    color: white;
    cursor: pointer;
}

.nav {
    display: flex;
    gap: 25px;
    color: rgb(152, 152, 152);
    font-size: 18px;
}

.home:hover {
    color: white;
    cursor: pointer;
}

.explore:hover {
    color: white;
    cursor: pointer;
}

.hero-h1 {
    color: white;
    font-size: 8rem;
    margin: 0;
}

.hero-p {
    margin: 0;
    color: rgb(152, 152, 152);
    font-size: 20px;
}

.blogs-container {
    margin-top: 65px;
    padding: 0;
}

.blog-style {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 18px;
    cursor: pointer;
}

.blog-name {
    color: white;
    font-size: 1.5rem;
}

.blog-date {
    color: rgb(152, 152, 152);
    font-size: 1.125rem;
}

.blog-hr {
    background-color: rgb(152, 152, 152);
    height: 0.5px;
    border: none
}

.blog-style:hover span {
    color: white;
}

.footer-container{
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 90px;
}

.footer-container span{
    color: rgb(152, 152, 152);
    font-size: 1.25rem;
}